@font-face {
    font-family: 'Mersad';
    src: url('./Web/Mersad-Bold.woff');
    font-weight: bold;
    font-style: bold;
}

/* 
h1 {
    font-family: 'Mersad';
    font-weight: bold;
}

p,
span {
    font-family: 'Mersad';
    font-weight: bold;
} */